<% include partials/header %>

<div id="header" class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Halloween is just days away!</h1>
        <p class="lead">Get inspired.</p>
        <% if (!currentUser){ %>
            <a href="/login" class="btn btn-outline-warning">Login</a>
        <% } %>
    </div>
</div>

<section id="gallery">
    <div class="container">
        <div class="card-columns">
            <% images.forEach(function(image){ %>
                    <div class="card">
                        <a href="<%= image.path %>" data-fancybox>
                            <img class="card-img-top" src="<%= image.path %>" alt="">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><%= image.title %></h5>
                            <a href="<%= image.path %>" download class="btn btn-outline-success btn-sm">Download</a>
                            <a href="/fav/<%=image._id%>" id="fav_<%=image._id%>" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                            <% if(currentUser) { %>
                                <% if(currentUser.findFavImage(image._id) != -1 ) { %>
                                    <script>
                                        var fav_button = document.getElementById("fav_<%=image._id%>");
                                        fav_button.classList.remove("btn-outline-danger");
                                        fav_button.classList.add("btn-danger");
                                    </script>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
            <% }); %>
        </div>
    </div>
</section>


<% include partials/footer %>